@import '../../styles/base/variables';
@import '../../styles/base/grid';
@import '../../styles/base/elements';

.videoWrapper{
    grid-column: 2/ span 10;
    background-color: #000;
    z-index: 1;
    @extend %container-lg;

    

    @include breakpoint (w-sm){
        grid-column: 1/ span 12; 
    }
}

.video{
    width: 100%;
    margin-bottom: -4px;
}

