@import '../../styles/base/grid';
@import '../../styles/base/variables';
@import '../../styles/base/spacing';
@import '../../styles/base/colors';

.inner{
    grid-column: 1 / span 9;
    display:grid;
    row-gap:$space-sm;
    @include breakpoint (w-med) {
        grid-column: 1 / 12;
    }

    .__preheadline{
        text-transform:uppercase;
        color:$color-sunshine;

    }

}