@import '../../styles/base/grid';

.icon{
    grid-column: span 3;
    
    h5{
        font-weight: 700;
        margin-bottom: $space-sm;
    }
}

.iconWrap{
    margin-bottom: $space-sm;
}

._center{
    text-align: center;
}

._responsive{
    .icon{
        display: grid;
        grid-template-rows: 90px auto;
        grid-row-gap: $space-sm;
        h5{
            margin-bottom: 0;
        }
    }
    .iconWrap{
        width: 60%;
        height: auto;
        max-height: 90px;
        margin: 0 auto;
        position: relative;
    }
}

._three{
    .icon{
        grid-column: span 2;
    }
}

@include breakpoint(w-med){
    .icon{
        grid-row: auto;
        grid-column: 2/ span 5;
        &:nth-child(even) {
            grid-row: auto;
            grid-column: 7/ span 5;
        }
    }
}

@include breakpoint(w-sm){
    .icon,
    ._three .icon{
        margin-bottom: $space-md;
        grid-row: auto;
        grid-column: 1 / span 12;
    }

    .icon:nth-child(even) {
        grid-row:auto;
        grid-column: 1/ span 12;
    }
}