.avatar {
    object-fit: cover;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,223,226,1) 100%);
 
    &:hover{
     
        background: linear-gradient(270deg, #0cf7bb, #a30cf7, #f70ca6, #fffa0c);
        background-size: 800% 800%;
        animation: rainbow 1500ms ease infinite;
    
    @keyframes rainbow {
        0%{background-position:0% 92%}
        50%{background-position:100% 9%}
        100%{background-position:0% 92%}
    }
    }
}