.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  background-color: $color-sunshine;
  position: relative;
  border: 0.125rem solid ;
  border-color: $color-sunshine;
  transition: transform 200ms;
  flex: 1;

  &_row {
    display: inline-grid;
    align-items: center;
    grid-auto-columns: 1fr;
    column-gap: 1.25rem;
    grid-auto-flow: column;
  }   

  &_wrapper{
    background-color: $color-charcoal-4;
    border-radius: 3px;
    display: flex;   
    &:hover{
      .btn {
        transform: translate(.5rem, -.5rem)
      }
    }
    &:active{
      .btn{
        transform: translate(.25rem, -.25rem)
      }
    }
  }

  .btn_text {
    padding: 1rem 2rem .75rem 2rem;
    color: $color-charcoal-1;
    margin: 0;

    @include breakpoint (w-sm){
      font-size: 1rem;
      padding: 0.5rem 1.5rem .5rem 1.5rem;
    }
  }

  &__secondary {
    background-color: $color-charcoal-1;
    border: 0.125rem solid;
    border-color: $color-white;

    .btn_text{
      color: $color-white;
      background-image: none;
    }
    
    a{
      &.cta_button {
        background-image: none;
      }
    }
  }
}

.btn__small {
  .btn_text {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
}

.hubby-cta {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 0;
  // padding: 0.6rem 0.8rem 0.6rem 1rem; // totally unsure of why that right padding and font-metrics are bonked
  border-radius: 1px;
  text-align: center;
  background-color: transparent;
  border-radius: 0 0 0 1.5rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  position: relative;
  border: 0;
  text-decoration: none;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color-charcoal-2);
    border: 0.125rem solid var(--color-charcoal-2);
    border-radius: 0 0 0 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate3d(5px, 5px, 0);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  &::after {
    content: "";
    background-color: $color-sunshine;
    border: 0.125rem solid $color-sunshine;
    border-radius: 0 0 0 1rem;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }



  h3 {
    padding: 0.6rem 0.7rem 0.55rem 1rem;
    color: var(--color-charcoal-1);
    position: relative;
    z-index: 2;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 1rem;
  }

  &:hover {
    &::after {
      transform: translate3d(-5px, -5px, 0px);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
    }

    &::before {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
    }


    h3 {
      transform: translate3d(-5px, -5px, 0px);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
    }

  }

  &.secondary {
    background-color: transparent;

    &::before {
      background-color: $color-white;
      border: 0.125rem solid var(--color-charcoal-2);
    }

    &::after {
      background-color: $color-white;
      border: 0.125rem solid var(--color-charcoal-2);
    }

    &:hover {
      &::after {}

      &::before {
        background-color:  var(--color-charcoal-4);
      }

    }
  }
}

.icon-button {
  width: 60px;
  height: 60px;

}

.icon-button__content,
.button__content,
.btn__content {
  display: flex;
  justify-content: center;

  h3 {
    display: inline-block;
  }

}

.icon-button__img,
.button__img {
  height: 40px;
}





//BUTON ROW

