.card {
    color: var(--color-white);
    background: var(--color-charcoal-2);
    padding: 2rem 1.5rem;
    transition-property: transform, color, background-color, border-bottom-color, fill, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    height: 100%;
    display:grid;
    row-gap: 1.5rem;
    grid-auto-rows:max-content;

    &--hover:hover {
        transform: translate(1rem, -1rem);

        .card__link {
            p {
                color: var(--color-charcoal-4);
            }
            .hyperlink__arrow svg {
                fill: var(--color-charcoal-4);
            }

        }
    }

    &__title {
        font-weight:700;
    }

    &__body
    




    &__link {
        display: flex;
        align-content: center;
        p {
            display: inline-block;
            transition: 300ms all;
            color: var(--color-charcoal-2);
            font-weight: 700;
            text-decoration: underline var(--color-charcoal-6);
            line-height: 1;
        }

        .hyperlink__arrow {
            margin-left: .5rem;
            margin-top: -1px;
            svg {
                width: 12px;
            }
        }

    }




    &--dark {
        background-color: var(--color-charcoal-3);
    }

    &--yellow-bg {
        @include breakpoint (w-med) {
            margin: 0 .75rem;
            padding: 1.5rem .75rem;
        }

        &::before {

            content: "";
            height: 100%;
            width: 100%;
            background-color: $color-sunshine;
            border: 0.25rem solid $color-sunshine;
            border-radius: 0 0 0 3rem;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            transform: translate(1rem, 1rem);
        }
    }




}


