.divider-line {
    display: inline-block;
    width: .125rem;
    position:relative;
    background-color: $color-charcoal-6;

    &--horizontal {
        height: 0.125rem;
        width: 6rem;
        margin-bottom: 1.5rem;
        margin-top: 1.25rem;
    }

    &--vertical{
        display: inline-flex;
    }

    &--right-align {
        margin-left: auto;
    }

    &--negative {
        background-color: $color-sunshine;
    }

    &--no-shadow {
        &::before{
            display: none;
        }
    }

    &--charcoal {
        background-color: $color-charcoal-4;
    }
} 

.dark-mode .divider-line {
    background-color: $color-sunshine;
}

