@import '../../styles/base/variables';
@import '../../styles/base/grid';

.card{
    grid-column: span 4;
    display: grid;
    grid-auto-flow: row;
    row-gap:$space-sm;
    border-radius: $lg-round-corner;
    padding: 3rem 2rem;
    background-color: $color-charcoal-2;
    grid-auto-rows: minmax(min-content, max-content);
    h5{
        font-weight: 700;
    }
    a{
        margin-top: $space-sm;
    }
}

.body{
    grid-column: unset;
}

._four{
    grid-column: span 3;
    @include breakpoint(w-med){
        grid-column: span 6;
        margin-top: $space-sm;
    }
}

@include breakpoint(w-sm){
    .card{
        grid-column: 1 / span 12;
        margin-top: $space-sm;
        &:nth-of-type(1){
            margin-top: 0;
        }
    }
}