@import '.../../styles/base/grid';
@import '../../styles/base/colors';

.outer{
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  grid-template-columns: auto 8fr auto;
  grid-column-gap: 3rem;
  grid-template-rows: 75px;
  z-index: 2;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  image-rendering: crisp-edges;

  svg {
    height: 1.7rem;
    fill: $color-sunshine;
    path{
      fill: $color-sunshine;
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease;
  
    }
    &:hover {
      path{
        fill: $color-white;
      }
    }
  }
}
  
.logo {
  display: flex;
  align-items: center;
}

.hamburger{
  display: none;
  grid-column: 6 / -1;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition-property: opacity,filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  &:hover{
    opacity: 0.7;
  }
}

.hamburger_box{
  display: inline-block;
  width: 20px;
  height: 18px;
  position: relative;
}

.hamburger_box_inner,
.hamburger_box_inner:before,
.hamburger_box_inner:after{
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.hamburger_box_inner{
  top: 1px;
  transition: background-color 0s .13s linear;
  &:before{
    content: "";
    display: block;
    top: 8px;
    transition: top .1s .2s cubic-bezier(0.33333,0.66667,0.66667,1),transform .13s cubic-bezier(0.55,0.055,0.675,0.19);
  }
  &:after{
    content: "";
    display: block;
    top: 16px;
    transition: top .2s .2s cubic-bezier(0.33333,0.66667,0.66667,1),transform .13s cubic-bezier(0.55,0.055,0.675,0.19);
  }
}

.navBar{
  height: 100%;
  display: inline-grid;
  grid-template-columns: repeat(5, max-content);
  list-style: none;
}

.navItem {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  cursor: pointer; 
  &:hover {
    background-color: $color-charcoal-2;
    .navItem_label  {
      color: $color-white;
    }
    .dropDown {
      display: grid;
    }
  }
}

.navItem_label {
  color: $color-charcoal-6;
  font-weight: 700;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
  &__active{
    color: $color-white;
  }
}

.dropDown {
  display: none;
  grid-auto-flow: row;
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem;
  background-color: $color-charcoal-2;
  position: absolute;
  left: 0;
  top: 100%;
  margin-bottom: 1rem;
  z-index: 2;
  white-space: nowrap;
  .navLink{
    border-radius: .25rem;
    padding: 0.75rem;
    color: $color-charcoal-7;
    background-color: rgba($color-charcoal-4, 0);
    transition: transform 250ms, opacity 250ms;
    transition-property: all;
  
    &__active{
      color: $color-white;
      background-color: rgba(96, 96, 118, 0.25);
    }
    &:hover {
      color: $color-white;
      background-color: rgba($color-charcoal-4, 1);
    }
  }
}

.dropDown_group{
  grid-row: 1;
  display: grid;
  align-items: self-start;
  border-right: 2px solid $color-charcoal-4;
  padding: 0 1rem;
  &:first-of-type{
    padding-left: 0;
  }
  &:last-of-type{
    border-right: none;
    padding-right: 0;
  }
}

.dropdown_group_label{
  padding: 0 0.75rem 0.75rem 0.75rem;
  color: rgba($color-charcoal-5, 0.7);
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cta{
  display: inline-grid;
  align-self: center;
}

._active{
  .navBar{
    left: 0;
  }
  .hamburger_box_inner{
    transition-delay: .22s;
    background-color: transparent;
    &:before{
      top: 0;
      transition: top .1s .15s cubic-bezier(0.33333,0,0.66667,0.33333),transform .13s .22s cubic-bezier(0.215,0.61,0.355,1);
      transform: translate3d(0,8px,0) rotate(45deg);
    }
    &:after{
      top: 0;
      transition: top .2s cubic-bezier(0.33333,0,0.66667,0.33333),transform .13s .22s cubic-bezier(0.215,0.61,0.355,1);
      transform: translate3d(0,8px,0) rotate(-45deg);
    }
  }
}

@include breakpoint (w-sm){
  .wrapper{
    width: 100%;
  }

  .hamburger{
    display: block;
  }

  .navBar{
    width: 100%;
    grid-column: span 12;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-row-gap: 1.25rem;
    padding: 1.25rem;
    background-color: $color-charcoal-2;
    position: fixed;
    left: -100%;
    top: 75px;
    transition: left 0.25s linear;
  }

  .navItem{
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    &:hover{
      background-color: transparent;
    }
  }

  .navItem_label{
    width: 50%;
    border-bottom: solid 2px $color-sunshine;
    padding-bottom: 0.5rem;
  }

  .dropDown{
    width: 100%;
    display: grid;
    padding-left: 0;
    background-color: transparent;
    position: unset;
  }

  .dropDown_group{
    margin-bottom: 1.25rem;
    border: none;
    padding-left: 0;
    grid-row: auto;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  .dropdown_group_label{
    padding: 0 0.75rem;
  }

  .cta{
    display: none;
  }
}

