@import '../../../styles/base/grid';
@import '../../../styles/base/variables';

.intro{
    grid-column: span 12;
    border-bottom: 2px solid $color-charcoal-4;
    color: $color-charcoal-4;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.post{
    grid-column: span 4;
    display: grid;
    grid-template-columns: 33% 1fr;
    min-height: 10rem;
    background-color: $color-charcoal-3;
    cursor: pointer;
    overflow: hidden;

    @include breakpoint (w-med) {
        grid-column: span 6;
        margin-bottom: 3rem;
    }
  
    @include breakpoint (w-sm) {
        grid-column: span 12;
    }
}

.imgWrap{
    position: relative;
}

.post_info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
        font-size: 1rem;
        color: $color-white;
    }
}

.tag{
    width: fit-content;
    padding: 0.5rem 0.5rem 0.125rem 0.5rem;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    background-color: $color-sunshine;
    color: $color-charcoal-1;
}