@import '../../styles/base/grid';

.icon{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 48px 1fr;
    column-gap: $space-sm;
    align-items: center;

    h5{
        font-weight: 700;
        margin-bottom: $space-sm;
    }
}

._three{
    .icon{
        grid-column: span 2;
    }
}