@import '../../styles/base/grid';
@import '../../styles/base/variables';

.icon{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 48px 1fr;
    column-gap: $space-sm;
    align-items: center;

    h5{
        font-weight: 700;
        margin-bottom: $space-sm;
    }

    @include breakpoint(w-sm){
        grid-column: span 12;
        margin-bottom: $space-sm;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

._three{
    .icon{
        grid-column: span 2;
        @include breakpoint(w-sm){
            grid-column: span 12;
            margin-bottom: $space-sm;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}