@import '../../styles/base/grid';
@import '../../styles/base/variables';

.body{
    grid-column: 3 / span 8;
    text-align: center;
    @include breakpoint (w-sm){
        grid-column: 1 / span 12;
    }

    h1, h5{
        margin-bottom: $space-sm;
    }
}

.tagline{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin-bottom: $space-sm;
}