@import '../../styles/base/variables';
@import '../../styles/base/grid';

.row{
    position: relative;
}
.item{
    grid-column: 1 / span 7;
    border-radius: $lg-round-corner
;
    padding: 3rem 2rem;
    background-color: $color-charcoal-2;
    position: relative;
    h3{
        margin-bottom: $space-sm;
    }
    p{
        font-size: 1.25em;
        line-height: 1.6;
    }
    &__right{
        grid-column: 6 / span 7;
    }
    @include breakpoint(w-sm){
        grid-column: span 12;
        &-right{
            grid-column: span 12;
        }
    }
}

.gradient{
    width: calc(100% + 2rem);
    height: 50%;
    position: absolute;
    &__topRight{
        grid-column: 8 / span 4;
        margin-left: -2rem;
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top-right-radius: 32px;
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box,linear-gradient(180deg,#5F2EAE 65%, #1F7CD0 93%) border-box;
        top: 50%;
    }
    &__topLeft{
        grid-column: 2 / span 5;
        width: calc(100% - 34px);
        border-top: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top-left-radius: 32px;
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box,linear-gradient(180deg, rgba(31,124,208,1) 21%, rgba(0,204,204,1) 64%) border-box;
        top: 50%;
    }
    &__bottomLeft{
        grid-column: 2 / span 4;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-bottom-left-radius: 32px;
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box, linear-gradient(180deg, rgba(0,204,204,1) 16%, rgba(17,222,153,1) 89%) border-box;        
    }
    &__bottomRight{
        grid-column: 7 / span 5;
        width: calc(100% - 34px);
        margin-left: 34px;
        border-bottom: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom-right-radius: 32px;
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box,#1F7CD0 border-box;      
    }

    @include breakpoint(w-sm){
        display: none;
    }
}

.vs{
    padding: 3rem 0;
    &_circle{
        grid-column: 6 / span 2;
        display: flex;
        align-items: center; 
        justify-content: center;
        height: 90px;
        width: 90px;
        margin: 0 auto;
        border: 6px solid $color-charcoal-1;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #1f7cd0;
        background-color: $color-charcoal-2;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.arrow{
    .gradient__bottomRight{
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box,linear-gradient(180deg, rgba(17,222,153,1) 16%, rgba(255,250,12,1) 51%) border-box;
    }
    .vs_circle{
        box-shadow: 0 0 0 5px #fffa0c;
    }
    .gradient__topLeft{
        background: linear-gradient($color-charcoal-1,$color-charcoal-1) padding-box, #fffa0c border-box;
        &:after{
            content: "";
            border: solid #fffa0c;
            border-width: 0 6px 6px 0;
            display: inline-block;
            padding: 14px;
            position: absolute;
            bottom: -2px;
            left: -20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.conclusion{
    grid-column: 1 / span 8;
    margin-top: 3rem;
    h4{
        margin-bottom: $space-sm;
        font-size: 1.1rem;
        text-transform: uppercase;
        background: linear-gradient(270deg, #FFD332 0%, #FFFA0C 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        margin-bottom: $space-sm;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.25;
    }
    p{
        font-size: 1.25em;
        line-height: 1.6;
    }
    @include breakpoint(w-sm){
        grid-column: span 12;
    }
}