.container-lg {
    border-radius:$lg-round-corner;
    overflow:hidden;
}

.container-med {
    border-radius:$med-round-corner;
    overflow:hidden;
}

.container-sm{
    border-radius:$sm-round-corner;
    overflow:hidden;
}

